
h1 {
    color: #333;
    text-align: center;
}

body {
    display: flex;
    background-color: #f9f9fb;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    align-items: center;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9fb;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

 .input-group {
    padding: 10px 20px;
    margin-bottom: 10px;
} 

#anoNascimento {
    width: 80%;
    padding: 10px;
    border: 1px solid #4CAF50;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px;
}